html{
	font-family: 'Merriweather', serif;
}
body{
	color: #000;s
	font-size: 16px;
}
h1{
	font-size: 80px;
	font-weight: 900;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.main{
	height: 100vh;
	background: rgb(69,160,179);
	background: radial-gradient(circle,rgba(69,160,179,1) 0%,rgba(43,69,84,1) 100%);
}
.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.section_header{
	display: flex;
	justify-content: center;
	-ms-align-items: flex-end;
	align-items: flex-end;
	height: 150px;
	margin-bottom: 100px;
}
.section_header h2{
	font-size: 30px;
	color:#000;
	text-transform: uppercase;
	font-weight: bold;
}
.btn{
	display: block;
	font-size: 20px;
	text-transform: uppercase;
	font-weight: 600;
	color: #000;
	border: 1px solid #fff
	border-radius:4px;
	padding: 15px 25px;
	margin-top: 50px;
	transition: 1s;
}
.header{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 25px;

}
.menu{
	display: flex;
	justify-content: space-around;
}
.menu li{
	list-style: none;
	margin-left: 80px;
}
.menu li a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 22px;
	font-weight: 500;
}
.menu li a:hover{
	color: #ff0099;
}
.logo img{max-width: 150px;}


.main_text{
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
	color: #fff;
}
.main_text span{
	font-size: 25px;
	text-transform: uppercase;
}
.main_text a{
	color: #fff;
}
.main_text a:hover{
	color: #ff0099;
	border: 1px solid #000;
	background-color: #fff;
}
.main_arrow{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.main_arrow a{
	color: #fff;
	font-size: 50px;
	-webkit-transition: 1s;
	-o-transition: 1s;
	transition: 1s;
}
.main_arrow a:hover{
	color: #ff0099;
}
.adventures_content{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.item{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 70px;
	transition: 1s;
	width: 25%;
}
.item:hover{
	transform: scale(1.1);
}
.item span{
	font-size: 20px;
	color: #000;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
}
.item i{
	color: red;
	font-size: 100px;
	
}
.catalog{
	background-color: #2B4554;
}
.catalog h2{
	color: #fff;
}
.catalog_content{
	display: flex;
	justify-content: space-between;
}
.catalog_item{
	display: flex;
	flex-direction: column;
	width: 30%;
	margin-bottom: 70px;
	padding: 15px;
	background-color: #fff;
	box-shadow: 0px 0px 20px 5px rgba(0,0,0,0.25);
	transition: 1s;
}
.catalog_item:hover{
	transform: scale(1.1);
	box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.25);
}
.catalog_item_header{
	min-height: 40px;
	text-align: center;
	font-size: 20px;
	text-transform: uppercase;
	margin: 15px 0;
}
.catalog_item img{
	width: 100%;
	height: auto;
	max-height: 200px;
	margin-bottom: 20px;
}
.catalog_item p{
	font-weight: 300;
	font-size: 16px;
	padding: 10px 0;
}
.catalog_item p span{
	font-size: 18px;
	font-weight: 500;
	margin-right: 5px;
}
.catalog_item p::before{
	content: '';
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	background-color: #000;
	vertical-align: middle;
	margin-right: 5px;
	margin-bottom: 4px;

}
.catalog_item a{
	display: block;
	margin: 0 auto;
	color: #000;
	border: 1px solid #000;
	margin-top: : 50px;
	padding: 15px 40px;
	transition: 1s;
}
.catalog_item a:hover{
	background-color: #f5f5f5;
	color: #ff0099;
	border: 1px solid #ff0099;
}
.map{
	position: relative;
}
.card{
	position: absolute;
	top: 50%;
	right: 100px;
	transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	background-color: #fff;
	border: 2px solid #000;
}
.card_logo{
	padding: 40px;
}
.card_logo img{
	width: 100px;
}
.card_text{
	padding: 0 20px;
}
.card_text p{
	line-height: 2;
	font-size: 18px;
	font-weight: 600;
}
footer{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #0f0f0f;
	height: 80px;
}
.footer_text{
	color: #fff;
	font-size: 20px;
}

